{
  "env": {
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly",
    "beforeEach": "readonly",
    "afterEach": "readonly",
    "beforeAll": "readonly",
    "afterAll": "readonly",
    "vi": "readonly"
  },
  "rules": {
    "semi": ["error", "never"],
    "no-unused-expressions": 0
  }
}
